*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    color: #6d6d6d;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: 100%;
    scrollbar-color: #3CA082 #f6f7f7;
    scrollbar-width: thin;
    box-sizing: border-box;
} 
.background-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 800px;
    width: 100%;
    overflow: hidden;
}

.background-svg {
    width: 100%;
    height: 100%;
    display: block;
}
#wrapper{
    width: 850px;
}
.osnovni{
    position: relative;
    height: 1650px;
    width: 1400px;
    margin: 40px auto 40px auto;
    border-radius: 13px;
    background-color: #f6f7f7;
    border: 0.1px solid white;
}
.pomoc{
    position: absolute;
    margin-left: 60%;
    top: 35px;
    width: 260px;
    height: 168px;
    border-radius:15px ;
    background-color: #e5e5e5 ;
    padding: 20px;
}
.noter{
    line-height: 1.4;
}
.kvadrat{
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 80px;
    border-radius: 10px 0 20px 0;
    color: #fff;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 1px;
    padding: 20px 30px 20px 50px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: linear-gradient(165.62deg, #3ca082 -2.35%, #308068 107.46%);
}
.tele{
    color: #3ca082;
}
.kontakt{
    height: auto;
    display: block;
    
}
.glavni{
    height: 1400px;
    width:  700px;
    margin-left: 50px;
    margin-top: 260px;
    display: block;
    padding: 15px;
}
.zahtevek{
    margin-top: 50px;
}
.prvi{
    display: flex;
    width: 100%;
    height: 70px;
}
.desni{
    display: flex;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 5px ;
    padding: 8px;
    width: 50%;
    height: 50%;
    cursor: pointer;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
} 
.desni.selected{
    border-color: #308068;
}

.levi{
    display:  flex;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 5px ;
    padding: 8px;
    height: 50%;
    width: 50%;
    cursor: pointer;
   align-items: center;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.levi.selected{
    border-color:#308068;
}
#ena{
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #308068; 
    border-radius: 50%;
    margin-right: 8px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1rem;
    font-weight: 400;
}
#ena:checked::before{
    content: "";
    width: 8px;
    height: 8px;
    background-color: #308068; 
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#dva{
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #308068;
    border-radius: 50%;
    margin-right: 8px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1rem;
    font-weight: 400;
}
#dva:checked::before{
    content: "";
    width: 8px;
    height: 8px;
    background-color: #308068; 
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.drugi{
    margin-top: 20px;
    height: 70px;
    width: 100%;
    display: flex;
}
.ime{
    display: flex;
    height: 50px;
    width:50% ;
}

#imeID{
    width: 100%;
    height: 50px;
    text-align: center;
    border: 1px solid #e0e0e0;
    border-radius: 25px !important;
    font-size: 1rem;
    font-weight: 400;
}
#imeID:focus{
    outline: none;
    border: 1px solid #e0e0e0;
}
.hidden{
    display: none;
}
.hidden-section{
    display: none;
}
.priimek{
    width: 50%;
    height: 50px;
    margin-left: 20px;
}
#priimekID{
    width: 100%;
    height: 50px;
    border: 1px solid #e0e0e0;
    border-radius: 25px !important;
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}
#priimekID:focus{
    outline: none;
    border: 1px solid #e0e0e0;
}
.tretji{
    margin-top: 20px;
    width: 100%;
    height: 70px;
    display: flex;
}
.naslov{
    display: flex;
    height: 50px;
    width:50% ;
}
#naslovID{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    border-radius: 25px;
    border:  none;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #e0e0e0;
    border-radius: 25px !important;
}
#naslovID:focus{
    outline: none;
    border: 1px solid #e0e0e0;
}
.davcna{
    height: 50px;
    width:50% ;  
    margin-left: 20px; 
}
#davcnaID{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    left: 15px;
    border:  none;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #e0e0e0;
}
#davcnaID:focus{
    outline: none;
    border: 1px solid #e0e0e0;
}
.cetrti{
    margin-top: 20px;
    width: 100%;
    height: 70px;
    display: flex;
}
.tel{
    display: flex;
    height: 50px;
    width:50% ;
}
.email{
    display: flex;
    height: 50px;
    width:50% ;  
    margin-left: 20px;
}
#telefonID{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    border-radius: 25px;
    border:  none;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #e0e0e0;
    border-radius: 25px !important;
}
#telefonID:focus{
    outline: none;
    border: 1px solid #e0e0e0;
}
#mailID{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    border-radius: 25px;
    border:  none;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #e0e0e0;
    border-radius: 25px !important;
}
#mailID:focus{
    outline: none;
    border: 1px solid #e0e0e0;
}
.peti{
    margin-top: 20px;
    width: 100%;
    height: 100px;
   display: block;
}
.podatki{
    height: 40px;
    width:50% 
}
.vrstaZav{
    width: 100%;
    height: 35px;
    position: relative;
}
#zavID{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #e0e0e0;
    border-radius: 25px !important;
    cursor: not-allowed;
}
.fixed-label {
    position: absolute;
    top: -14px; /* Dvignemo label nad input polje */
    left: 15px;
    padding: 0 5px;
    background: #fff;
    color: #888;
    font-size: 14px;
}
#zavID:focus{
    outline: none;
    border: 1px solid #e0e0e0;
}
.sesti{
    width: 100%;
    height: 50px;
    display: flex;
}
.levi2{
    display:  flex;
    margin: 5px ;
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 5px;
    height: 35px;
    width: 330px;
    cursor: pointer;
   align-items: center;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.levi2.selected{
    border-color:#308068;
}
#fizicnaID{
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #308068; 
    border-radius: 50%;
    margin-right: 8px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1rem;
    font-weight: 400;
}
#fizicnaID:checked::before{
    content: "";
    width: 8px;
    height: 8px;
    background-color: #308068; 
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.desni2{
    display:  flex;
    margin: 5px ;
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 5px;
    height: 35px;
    width: 330px;
    cursor: pointer;
   align-items: center;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.desni2.selected{
    border-color:#308068;
} 
#pravnaID{
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #308068; 
    border-radius: 50%;
    margin-right: 8px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1rem;
    font-weight: 400;
}
#pravnaID:checked::before{
    content: "";
    width: 8px;
    height: 8px;
    background-color: #308068; 
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sesti2{
    width: 100%;
    height: 100px;
}
.levi3{
   margin-top: 20px;
    display:  flex;
    margin-left: 5px;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 5px;
    height: 40px;
    width: 330px;
    cursor: pointer;
   align-items: center;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.levi3.selected{
    border-color:#308068;
}
#leasingID{
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #308068; 
    border-radius: 50%;
    margin-right: 8px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1rem;
    font-weight: 400;
}
#leasingID:checked::before{
    content: "";
    width: 8px;
    height: 8px;
    background-color: #308068; 
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.check{
    margin-top: 40px;
    display: block;
    width: 50%;
    height: 50%;
    appearance: none;
    position: relative;
    cursor: pointer;
}
#tujec{
    height: 15px;
    width: 15px;
    font-size: 1rem;
    font-weight: 400;
    background-color: #fff;
}
#tujec:checked::before{
    background-color: #268669;
}
#tekst{
    margin-left: 10px;
    height: 15px;
    width: 15px;
    font-size: 1rem;
    font-weight: 400;
}
.sedmi{
    display:  block;
    width: 100%;
    height: 100px;
    margin-top: 40px;
}
.imeZav{
    width: 100%;
    height: 50%;
    text-align: center;
}
#lastnik{
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 15px;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #e0e0e0;
    border-radius: 25px !important;
}
#lastnik:focus{
    outline: none;
    border: 1px solid #e0e0e0;
}
.polica{
    width: 100%;
    display: block;
    height: 50%;
}
#zavPol{
    margin-top: 25px;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 15px;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #e0e0e0;
    border-radius: 25px !important;
}
#zavPol:focus{
    outline: none;
    border: 1px solid #e0e0e0;
}
.osmi{
    display: block;
    width: 100%;
    height: 100px;
    margin-top: 50px;
}
.davcna2{
    width: 100%;
    height: 50%;
    margin-left: 0;
}
#davcnaSt{
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 15px;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #e0e0e0;
    border-radius: 25px !important;
}
#davcnaSt:focus{
    outline: none;
    border: 1px solid #e0e0e0;
}
.registerska{
    margin-top: 25px;
    width: 100%;
    height: 50%;
}
#regOzn{
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius:15px ;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #e0e0e0;
    border-radius: 25px !important;
}
#regOzn:focus{
    outline: none;
    border: 1px solid #e0e0e0;
}
.deveti{
    width: 100%;
    height: 50px;
    display: block;
}
.drzave{
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius:15px ;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #e0e0e0;
    border-radius: 25px !important;
}
.drzave:focus{
    outline: none;
    border: 1px solid #e0e0e0;
}
select:invalid{
    color: gray;
}
.deseti{
    width: 100%;
    height: 50px;
    display: block;
}
#zavaro{
    margin-top: 25px;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 15px;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #e0e0e0;
    border-radius: 25px !important;
}
#zavaro:focus{
    outline: none;
    border: 1px solid #e0e0e0;
}
.enajst{
    width: 100%;
    height: 50px;
    display: block;
}
#ostalo{
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 15px;
    border: none;
    margin-top: 25px;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #e0e0e0;
    border-radius: 25px;
}
#ostalo:focus{
    outline: none;
    border: 1px solid #e0e0e0;
}
.gumb{
    width: 200px;
    height: 100px;
    position: absolute;
    left:300px;
    top: 1580px;
}
#baton{
    width: 100%;
    height: 55%;
    border-radius:25px;
    border: none;
    text-align: center;
    color: white;
    background: linear-gradient(165.62deg, #3ca082 -2.35%, #308068 107.46%);
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}






